{% extends '_base.html' %}

{% block page_title %}Tasks{% endblock page_title %}

{% block content %}
    <table>
        <tr>
            <th>Tasks</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td><a href="{{task.get_absolute_url}}">View</a></td>
                <td><a href="{% url 'task_update' task.id %}">Edit</a></td>
                <td><a href="{% url 'task_delete' task.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
